PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/searchengine_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

SERPER_API_BASE_URL=https://google.serper.dev
SERPER_API_KEY=

SECURITY_ADMIN_PASSWORD=
SECURITY_JWT_SECRET=

SECURITY_JWT_EXPIRATION_MS=86400000
SECURITY_JWT_REFRESH_EXPIRATION_MS=604800000

MYSQL_DATABASE=searchengine_db
MYSQL_ROOT_PASSWORD=